Options -MultiViews
RewriteEngine On

# Đảm bảo request không phải là file hoặc thư mục có thật
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Chuyển tất cả request về index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]